{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Manager</th>
                                    <th>User</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{task.manager}}</td>
                                    <td>{{task.user}}</td>
                                    <td>{{task.title}}</td>
                                    <td>{{task.description}}</td>
                                    <td>
                                            {% if task.completed %}
                                            <span class="badge badge-success">Completed</span>
                                        {% else %}
                                            <span class="badge badge-danger">In Progress</span>
                                        {% endif %}
                                        </td>
                                    <td>
                                        {# Edit Button #}
                                        <a href="{% url 'edit_task_manager' task.id %}" class="btn btn-info">edit</a>
                                         <a href="{% url 'delete_task_manager' task.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>

                                    </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
